<%- include("header.ejs")%>
<%- include("sidebar.ejs")%>
<div class="w-full lg:ps-64">
  <div class="p-4 sm:p-6 space-y-4 sm:space-y-6">
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">

    </div>
            <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 bg-white-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Zm0 3h.008v.008h-.008v-.008Z" />
              </svg>              
              <h3 class="text-lg font-bold text-gray-800 dark:text-dark">
                Total Ruangan
              </h3>
              <p class="text-2xl font-bold mt-2 text-gray-800 dark:text-dark">
                <%= totalRuangan %>
              </p>
              <p class="mt-1 text-sm font-medium text-gray-500 dark:text-neutral-500">
                Ruangan dimiliki
              </p>
            </div>

            <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 bg-white-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
              </svg>              
              <h3 class="text-lg font-bold text-gray-800 dark:text-dark">
                Total Pengguna
              </h3>
              <p class="text-2xl font-bold mt-2 text-gray-800 dark:text-dark">
                <%= totalUsers %>
              </p>
              <p class="mt-1 text-sm font-medium text-gray-500 dark:text-neutral-500">
                Total Pengguna Saat Ini
              </p>
            </div>

            <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 bg-white-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
              </svg>              
              <h3 class="text-lg font-bold text-gray-800 dark:text-dark">
                Ruangan Yang Dipinjam
              </h3>
              <p class="text-2xl font-bold mt-2 text-gray-800 dark:text-dark">
                <%= totalRuanganDipinjam %>
              </p>
              <p class="mt-1 text-sm font-medium text-gray-500 dark:text-neutral-500">
                Ruangan sedang dipinjam
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("footer.ejs")%>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        const message = <%- JSON.stringify(message) %>;
        if (message && message.type === 'success') {
            Swal.fire({
                text: message.text,
                icon: message.type,
                timer: message.timeout,
                showConfirmButton: false
            });
        }
    });
</script>