<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="/img/bookmyspace_logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link rel="stylesheet" href="/css/output.css">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.min.css' rel='stylesheet' />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body class="bg-gray-200">
    <header class="flex flex-wrap sm:justify-start sm:flex-nowrap z-50 w-full bg-blue-800 border-b border-gray-700 text-sm py-2.5 sm:py-4">
        <nav class="bg-blue-800  max-w-7xl flex basis-full items-center w-full mx-auto px-4 sm:px-6 lg:px-8" aria-label="Global">
            <div class="me-5 md:me-8">
                <a class="flex-none text-2xl text-white font-bold" href="/" aria-label="Ruang Pinjam">BookMySpace</a>
            </div>
            <div class="w-full flex items-center justify-end ms-auto sm:justify-end sm:gap-x-3 sm:order-3">
                <div class="sm:hidden">
                    <button type="button" class="inline-flex flex-shrink-0 justify-center items-center gap-2 size-[38px] rounded-full font-medium bg-white text-gray-700 align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white transition-all text-xs dark:bg-neutral-900 dark:hover:bg-neutral-800 dark:text-neutral-400 dark:hover:text-white dark:focus:ring-neutral-700 dark:focus:ring-offset-gray-800">
                        <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
                    </button>
                </div>
                <div class="flex flex-row items-center justify-end gap-2">
                    <form action="/user/notifikasi" method="get">
                    <button type="submit" class="w-[2.375rem] h-[2.375rem] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full text-white hover:bg-white/20 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-1 focus:ring-gray-600">
                        <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"/><path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"/></svg>
                    </button>
                    </form>
                </div>  
                <div class="hs-dropdown relative inline-flex" data-hs-dropdown-placement="bottom-right">
                    <button id="hs-dropdown-with-header" type="button" class="w-[2.375rem] h-[2.375rem] inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-full text-white hover:bg-white/20 disabled:opacity-50 disabled:pointer-events-none focus:outline-none focus:ring-1 focus:ring-gray-600">
                        <img class="inline-block size-[38px] rounded-full ring-2 ring-white" 
                        src="<%= user.gender === 'Laki-laki' ? 'https://cdn1.iconfinder.com/data/icons/user-pictures/101/malecostume-512.png' : (user.gender === 'Perempuan' ? 'https://cdn1.iconfinder.com/data/icons/user-pictures/100/female1-512.png' : 'https://cdn3.iconfinder.com/data/icons/user-2/100/10-512.png') %>" 
                        alt="Image Description">                      
                    </button>
                    <div class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 z-10 bg-white shadow-md rounded-lg p-2" aria-labelledby="hs-dropdown-with-header">
                        <div class="py-3 px-5 -m-2 bg-gray-100 rounded-t-lg">
                            <p class="text-sm text-gray-500">Signed in as</p>
                            <p class="text-sm font-medium text-gray-800"><%= user.nama %></p>
                        </div> 
                        <div class="mt-2 py-2 first:pt-0 last:pb-0">
                            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500" href="/user/profile">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                                Profile
                            </a>
                            <a class="flex items-center gap-x-3.5 py-2 px-3 rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500" href="/user/riwayat">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-history"><path d="M3 12a9 9 0 1 0 9-9 9.75 9.75 0 0 0-6.74 2.74L3 8"/><path d="M3 3v5h5"/><path d="M12 7v5l4 2"/></svg>
                                Riwayat
                            </a>
                            <form action="/auth/logout" method="POST">
                                <button type="submit" class="flex items-center gap-x-3.5 py-2 px-3 w-full rounded-lg text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500" href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>                               
                                Logout
                                </button>
                             </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <nav class="-top-px bg-white text-sm font-medium text-black ring-1 ring-gray-900 ring-opacity-5 border-t shadow-sm shadow-gray-100 pt-6 md:pb-6 -mt-px" aria-label="Jump links">
        <div class="max-w-7xl snap-x w-full flex items-center overflow-x-auto px-4 sm:px-6 lg:px-8 pb-4 md:pb-0 mx-auto [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300">
            <div class="snap-center shrink-0 pe-5 sm:pe-8 sm:last-pe-0">
                <a class="inline-flex items-center gap-x-2 hover:text-gray-500 <%= typeof activePage !== 'undefined' && activePage === 'dashboard' ? 'text-blue-800 underline font-bold' : '' %>" href="/">Dashboard</a>
            </div>
            <div class="snap-center shrink-0 pe-5 sm:pe-8 sm:last:pe-0">
                <a class="inline-flex items-center gap-x-2 hover:text-gray-500 <%= typeof activePage !== 'undefined' && activePage === 'daftar-ruangan' ? 'text-blue-800 underline font-bold' : '' %>" href="/user/daftar-ruangan">Daftar Ruangan</a>
            </div>
            <div class="snap-center shrink-0 pe-5 sm:pe-8 sm:last:pe-0">
                <a class="inline-flex items-center gap-x-2 hover:text-gray-500 <%= typeof activePage !== 'undefined' && activePage === 'data-peminjaman' ? 'text-blue-800 underline font-bold' : '' %>" href="/user/data-peminjaman">Peminjaman</a>
            </div>
        </div>
    </nav>
</body>
</html>