<%- include("head.ejs")%>
<div class="p-4 sm:p-6 space-y-4 sm:space-y-6">
  <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6"></div>
  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div
          class="bg-white border border-gray-200 rounded-xl shadow-sm overflow-hidden"
        >
          <div
            class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto"
          >
            <div class="mx-auto max-w-2xl">
              <div class="text-center">
                <h2
                  class="text-xl text-gray-800 font-bold sm:text-3xl dark:text-black"
                >
                  Peminjaman
                </h2>
              </div>
              <div
                class="mt-5 p-4 z-10 bg-white border rounded-xl sm:mt-10 md:p-10 white:bg-neutral-900 dark:border-neutral-700"
              >
              <form method="post" action="/user/pinjam-ruangan/<%= ruangan ? ruangan.idRuangan : '' %>" enctype="multipart/form-data">
                <div class="mb-4 sm:mb-8">
                    <label
                        for="namaRuangan"
                        class="block mb-2 text-sm font-medium dark:text-black"
                    >Nama Ruangan</label>
                    <select
                        name="namaRuangan"
                        id="namaRuangan"
                        class="py-3 px-4 block w-full border border-black rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-white:bg-neutral-900 dark:border-neutral-700 dark:text-black dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                    >
                    <% ruangans.forEach(function(ruangan) { %>
                        <option value="<%= ruangan.idRuangan %>" <%= selectedRuangan && ruangan.idRuangan == selectedRuangan.idRuangan ? 'selected' : '' %>><%= ruangan.namaRuangan %></option>
                    <% }); %>
                    </select>
                </div>

                  <div class="mb-4 sm:mb-8">
                    <label
                      for="kegiatan"
                      class="block mb-2 text-sm font-medium dark:text-black"
                      >kegiatan Ruangan</label
                    >
                    <input
                      name="kegiatan"
                      type="text"
                      id="kegiatan"
                      class="py-3 px-4 block w-full border border-black rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-white:bg-neutral-900 dark:border-neutral-700 dark:text-black dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                      placeholder="Tambah kegiatan"
                    />
                  </div>

                  <div class="mb-4 sm:mb-8">
                    <label
                      for="tanggal"
                      class="block mb-2 text-sm font-medium dark:text-black"
                      >tanggal Ruangan</label
                    >
                    <input
                      name="tanggal"
                      type="date"
                      id="tanggal"
                      class="py-3 px-4 block w-full border border-black rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-white:bg-neutral-900 dark:border-neutral-700 dark:text-black dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                      placeholder="Tambah tanggal"
                    />
                  </div>

                  <div class="mb-4 sm:mb-8">
                    <label
                      for="waktuMulai"
                      class="block mb-2 text-sm font-medium dark:text-black"
                      >Waktu Mulai</label
                    >
                    <input
                      name="waktuMulai"
                      type="time"
                      id="waktuMulai"
                      class="py-3 px-4 block w-full border border-black rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-white:bg-neutral-900 dark:border-neutral-700 dark:text-black dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                      placeholder="Tambah waktuMulai"
                    />
                  </div>

                  <div class="mb-4 sm:mb-8">
                    <label
                      for="waktuSelesai"
                      class="block mb-2 text-sm font-medium dark:text-black"
                      >waktu Selesai</label
                    >
                    <input
                      name="waktuSelesai"
                      type="time"
                      id="waktuSelesai"
                      class="py-3 px-4 block w-full border border-black rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-white:bg-neutral-900 dark:border-neutral-700 dark:text-black dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                      placeholder="Tambah waktuSelesai"
                    />
                  </div>

                  <div class="mb-4">
                    <label
                      for="file"
                      class="block mb-2 text-sm font-medium dark:text-black"
                      >Surat Permohonan Peminjaman
                      <a href="/user/template-surat">Download Here</a></label
                    >
                    <input
                      type="file"
                      name="formulir"
                      id="file"
                      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    />
                  </div>
                  <img
                    id="imagePreview"
                    src="#"
                    alt="Image Preview"
                    style="display: none; max-width: 200px; max-height: 200px"
                  />
                  <div class="mt-6 grid gap-4 grid-cols-2">
                    <button
                      type="submit"
                      value="submit"
                      class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                    >
                      Simpan
                    </button>
                    <a
                      href="/user/daftar-ruangan"
                      class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-gray-700 disabled:opacity-50 disabled:pointer-events-none"
                      >Batal</a
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div
            class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200"
          >
            <div>
              <p class="text-sm text-gray-600">
                <span class="font-semibold text-gray-800">12</span> results
              </p>
            </div>

            <div>
              <div class="inline-flex gap-x-2">
                <button
                  type="button"
                  class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                >
                  <svg
                    class="flex-shrink-0 size-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="m15 18-6-6 6-6" />
                  </svg>
                  Prev
                </button>

                <button
                  type="button"
                  class="py-1.5 px-2 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                >
                  Next
                  <svg
                    class="flex-shrink-0 size-4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  >
                    <path d="m9 18 6-6-6-6" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById("file").addEventListener("change", function (event) {
    var reader = new FileReader();
    reader.onload = function (e) {
      document.getElementById("imagePreview").src = e.target.result;
      document.getElementById("imagePreview").style.display = "block";
    };
    reader.readAsDataURL(event.target.files[0]);
  });
</script>
<%- include("footer.ejs")%>
